.sug {
    color: #6C6D70;
    font-size: 10px;
}

.sug:hover{
    color: #6C6D70;
    text-shadow: 0px 0px 5px #FFB81C;
}

.knob-text label{
    color: #FFB91D;
    font-size: 25px;
}

.service-bg{
    background-image: url(../images/bg/pattern.jpg);
    background-repeat: repeat+x;
    background-attachment: fixed;
}

.category-bg{
    background-image: url(../images/bg/pattern.jpg);
    background-repeat: repeat+x;
    background-attachment: fixed;
}

.map-bg{
    background-image: url(../images/bg/map.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.page4-bg{
    background-color: darkgrey;
}

.megamenu-bg{
    background-color: #F0F0F0;
}

.category-menu{
    background-color: #ffb81c;
    border-bottom: 1px solid #ffb81c;
    border-top: none !important;
}

.text-link{
    color: #396CFD;
}

.f-8{
    font-size: 7px;
}

.f-10{
    font-size: 10px;
}

.f-12{
    font-size: 12px;
}

.f-15{
    font-size: 15px;
}

.c-white{
    color: #fff!important;
}

.col-centered { 
    float: none; 
    margin: 0 auto; 
}
.callout {
    background-color: orange;
    display: block;
    padding: 5px;
    text-align: center;
}

.border-5 {
    border-radius: 5px;
}

.border-10 {
    border-radius: 10px;
}

.nopadding {
    padding: none!important;
    margin: none!important;
}

.color-white {
    color: #fff!important;
}

.color-gray {
    color: #333333;
}

.section-hover :hover {
    background-color: #ff0000 !important;
}

.orange-glow{
    text-shadow: 0 0 3px #FFB81C;
}